<%- include header %>
<div class="post_title">
    <%= post.title %>
</div>
<div class="post_info">
    作者：<span ><%= post.name %></span> | 日期：<%= post.time.minute %> | 阅读：<%= post.pv %>
</div>
<div class="post_content"><%- post.post %></div>

<%- include footer %>
