<%- include header %>
<div id="coreContent" class="core_content">

<div class="admin_hd">添加项目</div>
<form method="post" class="cate_add_form form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <label class="form_key ">项目名称</label>
        <div class="form_val">
            <input type="text" name="project_name" value="<%=post.project_name || '' %>" class="form-control" >
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">项目标识</label>
        <div class="form_val">
            <input type="text" name="vid" value="<%=post.vid || '' %>" class="form-control" >
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">管理员</label>
        <div class="form_val">
            <input type="hidden" name="manager" id="managerList" value="<%=post.manager || username %>">

            <span class="user_item"><%=username %></span>
            <div class="user_item_list">
                <% post.managerArr.forEach(function (item, index) { %>
                    <span class="user_item"><%=item %></span>
                <% }) %>
                <input type="text" value="" class="userItem">
                <input type="text" value="" class="userItem">
            </div>

            <span class="btn btn-primary" id="btnTest">Add </span>
        </div>
        <script>
            $('.userItem').on('blur', function(){
                var user = $(this).val().trim()
                var oldList = $('#managerList').val().split(',');
                if($.inArray(user, oldList) == -1) {
                    oldList.push(user)
                }
                $('#managerList').val(oldList.join(','))
            })
        </script>
    </div>
    <div class="form-group">
        <label class="form_key ">项目成员</label>
        <div class="form_val">
            <input type="hidden" name="member" value="<%=post.member || ''%>">
            <span class="user_item"><%=username %></span>
            <input type="text" value="" class="user_item_ipt">
            <!-- todo: show member -->
            <span class="btn btn-primary">Add</span>
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">访问权限</label>
        <div class="form_val">
            <input type="checkbox" name="private" <%=(post.private && 'checked' || '')%> value="1"> 仅项目成员可见
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">Logo图片</label>
        <div class="form_val">
            <div class="input_file_wrap" style="background-image:url(<%=post.logo || 'about:blank'%>)">
                <input type="file" name="logo" >
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">封面图片</label>
        <div class="form_val">
            <div class="input_file_wrap" style="background-image:url(<%=post.cover || 'about:blank'%>)">
                <input type="file" name="cover" >
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">项目颜色</label>
        <div class="form_val">
            <input type="hidden" name="theme" value="<%=post.theme || 'blue'%>" >
            <!-- todo: show other theme -->
            <span>red </span>,
            <span>blue </span>
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">&nbsp;</label>
        <div class="form_val">
            <button type="submit" class="btn btn-success">添加</button>
        </div>
    </div>
</form>

</div>
<%- include footer %>
