<%- include header %>

<div class="admin_hd">添加品牌</div>
<form method="post" class="cate_add_form form-horizontal" enctype="multipart/form-data">
    <div class="form-group">
        <label for="iptTit" class="form_key ">名称</label>
        <div class="form_val">
            <input type="text" name="name" class="form-control" id="iptTit">
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">图片</label>
        <div class="form_val">
            <input type="file" name="img" >
        </div>
    </div>
    <div class="form-group">
        <label class="form_key ">&nbsp;</label>
        <div class="form_val">
            <button type="submit" class="btn btn-success">添加</button>
        </div>
    </div>
</form>

<div class="admin_hd">品牌列表</div>
<div class="admin_bd cate_bd">
    <ul>
    <% posts.forEach(function (post, index) { %>
        <li>
            <div class="edit_cate_name"><%= post.name %> </div>
            <div class="edit_cate_img"><img src="<%= post.img %>"> </div>
            <a class="btn btn-danger jsBtnDel" href="javascript:;" data-href="/remove_cate/<%= post._id %>" >删除</a>
            <a class="btn btn-default btn_edit" href="/edit_cate/<%= post._id%>">编辑</a>
        </li>
    <% }) %>
    </ul>
</div>

<script>
    $('.jsBtnDel').click(function(){
        if(confirm('这将删除该品牌下所有文章，确认删除该品牌吗？')){
            window.location.href = $(this).data('href')
        }
    })
</script>

<%- include footer %>
