<%- include header %>
<form method="post" class="form-horizontal" >
    <div class="form-group">
        <label for="iptTit" class="form_key ">标题</label>
        <div class="form_val">
            <input type="text" name="title" value=<%= locals.post.title %> class="form-control" id="iptTit" placeholder="" />
        </div>
    </div>
    <div class="form-group">
        <label class="form_key">品牌</label>
        <div class="form_val">
            <select class="form-control" name="cate">
                <% locals.cate.forEach(function (item, index) { %>
                <option value=<%= item %> <% if(item===post.cate){ %>selected<% } %> ><%= item %></option>
                <% }) %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="form_key">二级类别</label>
        <div class="form_val">
            <select class="form-control" name="custom_cate">
                <% locals.customCate.forEach(function (item, index) { %>
                <option value=<%= item %> <% if(item===post.customCate){ %>selected<% } %> ><%= item %></option>
                <% }) %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="form_key">内容</label>
        <div class="form_val">
            <textarea class="form-control" id="postContent" name="post" rows="20" ><%- post.post %></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="form_key">&nbsp;  </label>
        <div class="form_val">
            <button type="submit" class="btn btn-success">提交</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function(){
        var editor = new wangEditor('postContent');
        var disMenus = ['strikethrough', 'bgcolor', 'emotion', 'video', 'location', 'redo', 'fullscreen']
        editor.config.menus = editor.config.menus.filter((k) => disMenus.indexOf(k) === -1 )
        editor.config.uploadImgUrl = '/images/upload';
        
        editor.create();
    })
</script>

<%- include footer %>
