<%- include header %>
<div id="coreContent" class="core_content">

    <ul class="project_list">
        <% for(var item in data) { %>
        <% var d = data[item] %>
        <li>
            <div style="background-image:url(<%=(d.cover ||d.logo)%>)">
            <a href="/show/<%=d.vid %>" target="_blank"><%=d.project_name %></a>
            </div>
        </li>
        <% } %>
    </ul>

</div>
<%- include footer %>
