<%- include header %>

<div class="admin_hd">文档列表</div>
<div class="admin_bd">
<ul class="admin_post_list">
    <% posts.forEach(function (post, index) { %>
    <li class="">
        <a class="tit" href="/show/<%= post.cate %>/<%= post._id %>" target="_blank"><%= post.title %></a>
        <span class="cate"><%= post.cate %></span> 
        <span class="custom_cate"><%= post.customCate %></span> 
        <span class="author"><%= post.name %></span> 
        <span class="time"><%= post.time.minute %></span> 
        <a class="btn btn-default" href="/edit/<%= post._id %>" >编辑</a>
        <a class="btn btn-danger" href="/remove/<%= post._id %>">删除</a>
    </li>
    <% }) %>
</li>

<div class="pager">
    <% for(var i=1; i<=pageNum ; i++) { %>
        <a class="btn <% if(i==page){ %>btn-danger<%}else{%> btn-default <%}%>" href="/post_manage/<%= i%>" ><%= i%></a>
    <% } %>
</div>

</div>


<%- include footer %>
