<%- include header %>

<div class="admin_hd">文档列表</div>
<div class="admin_bd">
<ul class="admin_post_list">
    <% posts.forEach(function (post, index) { %>
    <li class="">
        <a class="tit" href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
        <span class="cate"><%= post.cate %></span> 
        <span class="custom_cate"><%= post.customCate %></span> 
        <span class="author"><%= post.name %></span> 
        <span class="time"><%= post.time.minute %></span> 
        <a class="btn btn-default" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a>
        <a class="btn btn-danger" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a>
    </li>
    <% }) %>
</li>
</div>

<%- include footer %>
