<%- include show_header %>

<nav class="show_nav">
    <dl>
        <% for(var item in menus) { %>
        <dt><%= item %></dt>
            <% var d = menus[item] %>
            <% for(var key in d) { %>
            <dd><a href="/show/<%= d[key].cate%>/<%=d[key]._id%>" <% if(d[key]._id==post._id){ %>class="active"<% } %>><%= d[key].title %></a></dd>
            <% } %>
        <% } %>
    </dl>
</nav>

<article class="show_core">

<div class="core_cont">
    <div class="show_post_title"><%= title %></div>
    <div class="show_post_info">
        作者：<%= post.name %> &nbsp;|&nbsp; 日期：<%= post.time.minute %> &nbsp;|&nbsp; 阅读：<%= post.pv %>
    </div>
    <div class="show_post_cont"><%- post.post %></div>

<%- include footer %>
